fastapi
uvicorn
sentence-transformers
pydantic
python-dotenv
faiss-cpu

transformers
sentencepiece
pandas
scikit-learn
python-multipart
pymupdf
pdfplumber
python-docx
deep-translator
accelerate
slowapi
tiktoken
protobuf
